:root {    
    /* Color Palette - Light Theme (Default) */
    --color-primary-hue: 180;  /* for HSL contrl */
    --color-primary: #0D6E6E;
    --color-primary-light: #4a9d9c;
    --color-primary-lighter: #afffff;
    --color-primary-tint-1: #3a8d8d;   /* tint‑1 */
    --color-primary-tint-2: #6fb1b1;   /* tint‑2 */
    --color-primary-shade-1: #095454;   /* shade‑1 */
    --color-primary-shade-2: #063c3c;   /* shade‑2 */

    --color-secondary: #4f8dff;

    --color-accent: #FF3D3D;
    --color-accent-light: #ffe0c8;

    --color-text: #0d1f2d;
    --color-text-light: #1d2e3d;
    --color-text-lighter: #354656;
    
    --color-background: #fafafa;
    --color-background-light: #f0f0f0;
    --color-background-lighter: #c7c7c7;

    --color-success: #138a74;
    --color-warning: #ffc107;
    --color-error: var(--color-accent);
    --color-nutral: #808080;

    /* Units */
    --base-font-size: calc(1rem + 1vw);
    --base-font-size-vertical: calc(1rem + 1vh);
    --base-border-radius: 8px;
    --existing-note-position: 80%;
    --dynamic-width: 80%;
    /* Paper sizes (inch): Statement: 5.50", A5: 5.83", Executive: 7.25", A4: 8.27", Letter: 8.50", A3: 11.69"  */
    --maximum-width: 8.50in;
    --minimum-width: 200px;
}

/* Color Palette - Dark Theme */
@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #fafafa;
        --color-text-light: #f0f0f0;
        --color-text-lighter: #c7c7c7;
        
        --color-background-lighter: #354656;
        --color-background-light: #1d2e3d;
        --color-background: #121d26;
    }
}

.hide {
    opacity: 0;
    user-select: none;
}

.unhide {
    opacity: 1;
    user-select: auto;
}

.delete {
    animation: deleteit 1s ease-in 0s 1 normal forwards;
}

.insert {
    animation: insertit 1s ease-out 1s 1 normal forwards;
}

.remix {
    width: 16px;
    height: 16px;
    fill: grey;
}

@keyframes deleteit {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    99% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes insertit {
    0% {
        height: 80%;
        width: 80%;
        opacity: 0;
        visibility: visible;
    }
    1% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        height: 80%;
        width: 80%;
        min-width: var(--minimum-width);
        visibility: visible;
    }
}

svg {
    height: 2rem;
    width: 2rem;
    fill: #000000;
}